table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
  }
  
  th, td {
    padding: 15px;
  }
  
  th {
    background-color: #f55a06;
    color: white;
  }

  tr:hover {background-color: rgb(62, 24, 214);}