.custom-btn-group .btn {
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
    width: 60px;
    margin-right: 10px;
  }

  .custom-btn-group .btn:last-child {
    margin-right: 0;
  }

  aside {
    height: 70vh;
  }

  main {

    height: 80vh;
    overflow-y: auto;
  }

 
 