<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card mb-4">

            <div class="card-body" *ngIf="addresses.length>0">
                <div *ngFor="let address of addresses" class="card mb-3">
                    <label class="form-check m-2">
                        <input type="radio" class="form-check-input" name="selectedAddress" [value]="address.id"
                            [(ngModel)]="selectedAddressId">
                        {{ address.name |titlecase }} - {{ address.contactNumber }},
                    </label>
                    <div class="text-muted mx-4">
                      {{ address.area |titlecase}}, {{ address.landMark |titlecase }}, {{ address.city |titlecase }},
                        {{ address.state |titlecase}}- {{
                        address.pinCode }}
                    </div>
                </div>
                <button class="custom-button" (click)="onClickDeliverHere()">Deliver Here</button>
            </div>
        </div>
    </div>
</div>