<h2>Products for selling</h2>
<!--     

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
       <th>Title</th> 
       <th>Image</th>  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" >
        <td>
          <p class="fw-normal mb-1">{{ product.title }}</p>
        </td>
          <td >
            <p class="text-muted mb-0"><img [src]="product.image" width="200" height="200"/></p>
          </td>
          <td>
            <button type="button" (click)="onSelectProduct(product.id)" class="btn btn-link btn-sm btn-rounded">
                Details
              </button> 
          </td>       
      </tr> 
  </table> -->

<div class="about-section">
  <h1>E Krushi Seva</h1>
</div>

<h2 style="text-align:center">Krushi Products</h2>
<div *ngFor="let product of products" >
  <div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <p class="text-muted mb-0"><img   [src]="product.image"  style="width: 50%"/></p>
         <p class="fw-normal mb-1"><b>{{ product.title }}</b></p>
        <button type="button" (click)="onSelectProduct(product.id)" class="button">
          Details
        </button>
      </div>
      </div>
    </div>
  </div>
</div>










