




.column {
  float: left;
  width: 33.30%;
  margin-bottom: 16px;
  padding: 0 100px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 30px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 20px;
  color: white;
  background-color: hsl(249, 86%, 35%);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: hsl(136, 50%, 41%);
}

@media screen and (max-width: 650px) {
  .column {
    width: 500%;
    display: block;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

