




.column {
  float: left;
  width: 20.3%;
  margin-bottom: 10 10px;
  padding: 10 10px;
}

.card {
  box-shadow: 0px 0px 4px 0px ;
  margin: 0px;
}

.about-section {
  padding: 25px;
  text-align: center;
  background-color: #08e585;
  color: rgb(57, 8, 170);
}

.container {
  padding: 0 10px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: hwb(152 12% 55%);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 0px;
  color: white;
  background-color: hsl(154, 90%, 44%);
  text-align: center;
  cursor: pointer;
  width: 100%;
}


@media screen and (max-width: 650px) {
  .column {
    width: 10%;
    display: block;
  }
} 


