<div>
  <ul> 
     <li *ngFor="let product of products"> 
          <a href="#" (click)="onSelectProduct(product.id)">
              {{product.title}}
            </a> 
       </li> 
    </ul>
 

<div>
<table class="table table-bordered">
<thead>
<th scope="col">Title</th>

<th scope="col">Id</th>
<th scope="col">UnitPrice</th>
<th scope="col">UnitPrice</th>
<th scope="col">StockAvailable</th>
<th scope="col">Image</th>
<th scope="col">categoryId</th>
</thead>
<tbody>
<tr scope="row">
<td >{{selectedProduct.title}}</td>

<td >{{selectedProduct.id}}</td>
<td >{{selectedProduct.unitPrice}}</td>
<td >{{selectedProduct.stockAvailable}}</td>
<td >{{selectedProduct.image}}</td>
<td >{{selectedProduct.categoryId}}</td>


</tr>
</tbody>
</table>

</div>
</div>