<p>addtocart works!</p>



<form #cartForm="ngForm" (ngSubmit)="addToCart(cartForm.value)">

    <div class="form-group">
      <label><b>cart id :</b></label>
      <input type="number" name="cartId" [(ngModel)]="cartId" disabled/>
   </div>
   <div class="form-group">
      <br> 
      <label><b>product id :</b></label>
      <input type="number" name="productId" [(ngModel)]="productId" disabled/>
    </div>
    <div class="form-group">
      <br>
      <label><b>quantity :</b></label>
      <input type="number" name="quantity" [(ngModel)]="item.quantity"/>
    </div>
    <div class="form-group">
      <br>
      <button class="btn btn-default" type="submit">AddToCart</button>
    </div>
  </form>
  