<p>addtocart works!</p>



<form #cartForm="ngForm" (ngSubmit)="addToCart(cartForm.value)">

    <div class="form-group">
      <label hidden><b>cart id :</b></label>
      <input type="number" name="cartId" [(ngModel)]="cartId" type="hidden"/>
   </div>
   <div class="form-group">
      <br> 
      <label hidden><b>product id :</b></label>
      <input type="number" name="productId" [(ngModel)]="productId" type="hidden"/>
    </div>
    <div class="form-group">
      <br>
      <label><b>UnitPrice :{{unitPrice}}</b></label>
      <br>
      <label><b>quantity :</b></label>
      <input type="number" name="quantity" [(ngModel)]="item.quantity"/>
     </div>
    <div>
      <br>
      <label><b>TotalAmount :{{item.quantity*unitPrice}}</b></label>
      
    </div>
    <div class="form-group">
      <br>
      <button class="btn btn-default" type="submit">AddToCart</button>
    </div>
  </form>
  