<!-- 

<h1>My Order</h1>
                <table>
                    <thead>
                        <tr>
                            <th>product Title</th>
                            <th>Image</th>
                            <th>UnitPrice</th>
                            <th>Quantity</th>
                            <th>OrderDate</th>
                            <th>ShippedDate</th>
                            <th>Total</th>
                            <th>Status</th>     
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let order of orders">
                            <td>{{ order.title }}</td>
                            <td>{{ order.image }}</td>
                            <td>{{ order.unitPrice }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.orderDate }}</td>
                            <td>{{ order.shippedDate }}</td>
                            <td>{{ order.total }}</td>
                            <td>{{ order.status }}</td>
                        </tr> 
                    </tbody>
                </table>

                <p><b>TotalAmount:</b>{{totalAmount}}</p> -->

                <h2>Products for selling</h2>
    

                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                      <tr>
                        <th>OrderId</th> 
                       <th>OrderDate</th> 
                       <th></th>  
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let order of orders" >
                        <td>
                          <p class="fw-normal mb-1">{{ order.id }}</p>
                        </td>
                          <td>
                            <p class="text-muted mb-0">{{ order.orderDate}}</p>
                          </td>
                          <td>
                            <button type="button" (click)="onSelectOrder()" class="btn btn-link btn-sm btn-rounded">
                               OrderDetails
                            </button> 
                          </td>
                        
                      </tr> 
                  </table>