<!--<nested-dropdown> </nested-dropdown>-->
<!--<app-radio></app-radio>-->
<!--<file-upload></file-upload>-->
<!-- <mutiple-select-list-box></mutiple-select-list-box> -->
<!-- <app-productgrid></app-productgrid> -->
<!-- <app-product-list-details></app-product-list-details> -->
<!-- <app-pagging></app-pagging> -->
<!-- <app-sortedlist></app-sortedlist> -->
<!-- <app-routing></app-routing> -->
 <!-- <app-debitcard></app-debitcard>  -->
 <!-- <app-addtocart></app-addtocart> -->
<!-- <app-store></app-store> -->
<!-- <app-categoryproduct></app-categoryproduct> -->
<!-- <app-order></app-order> -->

<!-- <app-radio></app-radio> -->
<!-- <app-orderpayment></app-orderpayment> -->
<!-- <app-question></app-question> -->
<!-- <app-myquestion></app-myquestion> -->
<!-- <app-questioncategory></app-questioncategory> -->
<!-- <app-categorylist></app-categorylist> -->
<!-- <app-billing></app-billing> -->

<!-- <app-uploadfile></app-uploadfile> -->

<!-- <app-newproduct></app-newproduct> -->
<!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->

<!-- <app-filterdate></app-filterdate> -->
<!-- <app-newuser></app-newuser> -->

<!-- <app-smeperformanceyearly></app-smeperformanceyearly> -->
<!-- <app-productsell></app-productsell> -->
<!-- <app-order-status></app-order-status> -->

<!-- 
<app-productsell></app-productsell> -->
<!-- 
<app-customerproductsale></app-customerproductsale> -->
<!-- <app-personal-info-registration></app-personal-info-registration> -->

<!-- <app-barchart></app-barchart> -->
<!-- 
<app-weekly></app-weekly>   -->
<!-- <app-totalrevenue></app-totalrevenue> -->
<!-- <app-monthly></app-monthly>  -->
<!-- <app-yearly></app-yearly> -->
<!-- <app-monthlystatus></app-monthlystatus> -->
<!-- <app-yearly></app-yearly> -->
<!-- <app-smeperformanceyearly></app-smeperformanceyearly> -->
<!-- <app-yearlystatus></app-yearlystatus> -->
<!-- <app-default></app-default> -->


<!-- <app-userprofile></app-userprofile> -->
 <!-- <app-order></app-order>  -->
<!-- <app-orderdetails></app-orderdetails>  -->

<!-- <app-userprofile></app-userprofile> -->
<!-- <app-store></app-store> -->

<!-- <app-userprofile></app-userprofile> -->
<!-- <app-productlist></app-productlist> -->
<!-- <app-uploadfile></app-uploadfile> -->
<!-- <app-userprofile></app-userprofile> -->

<!-- <app-edituser></app-edituser> -->


<app-routing></app-routing> 
<!-- <app-resetpassword></app-resetpassword> -->
<!-- <app-changecontactnumber></app-changecontactnumber> -->