<br>
<h1>category Details</h1>
<br>
<input type="number" [(ngModel)]="categoryId" />
<button (click)="getCategory(categoryId)">Search</button>

<div *ngIf="category && category.Id !=0">
  <p><label>categoryId:</label>{{category.Id}}</p>
  <p><label>categoryTitle:</label>{{category.Title}}</p>
  <p><label>categoryDescription:</label>{{category.description}}</p>
  <p><label>categoryImage:</label>{{category.image}}</p>
  <button type="submit" (click)="deleteCategory(category.Id)">Delete</button>
  <hr>
</div>