<div class="card  p-3" >
  <div>
    <h4>Product Category Sales</h4>
  </div>
  <div class=" d-flex flex-wrap flex  justify-content-between ">
    <button class="custom-button" [ngClass]="{'custom-button-active':isModeActive(modes.today)}"  (click)="changeMode(modes.today)" >{{modes.today |titlecase}}</button>
    <button class="custom-button" [ngClass]="{'custom-button-active':isModeActive(modes.yesterday)}" (click)="changeMode(modes.yesterday)">{{modes.yesterday |titlecase}}</button>
    <button class="custom-button" [ngClass]="{'custom-button-active':isModeActive(modes.week)}" (click)="changeMode(modes.week)">{{modes.week |titlecase}}</button>
    <button class="custom-button" [ngClass]="{'custom-button-active':isModeActive(modes.month)}" (click)="changeMode(modes.month)" >{{modes.month |titlecase}}</button>
</div>
<canvas
  baseChart
  [datasets]="doughnutChartData.datasets"
  [type]="doughnutChartType"
  [labels]="doughnutChartData.labels"
>

</canvas>

</div>