<section class="bg-light border-top py-4">
    <div class="container">
        <div class="row gx-4">
            <div class="col-lg-12">
                <div class="px-0 border rounded-2 shadow-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Similar items</h5>
                            <div class="horizontal-product-bar">
                                <div class="product-item" *ngFor="let product of products">
                                    <a href="#">
                                        <img src="{{product.imageUrl}}" class="img-md img-thumbnail" >
                                    </a>
                                    <div class="info">
                                        <a href="#" class="nav-link mb-1">
                                            {{product.title}}
                                        </a>
                                        <strong class="text-dark">{{product.price | currency:"INR"}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>