<h1>Insert Customer</h1>

<form #insertForm="ngForm" (ngSubmit)="insertCustomer(insertForm.value)">

  <div class="mb-3">
    <label><b>First Name:</b></label>
    <input type="text" name="firstName" [(ngModel)]="customer.firstName"/>
    <br>
    <label><b>Last Name:</b></label>
    <input type="text" name="lastName" [(ngModel)]="customer.lastName"/>
    <br>
    <label><b>User Id:</b></label>
    <input type="number" name="userId" [(ngModel)]="customer.userId"/>
    <br>
    <button class="btn btn-success " type="submit">Insert</button>
  </div>
</form>

