<h1>Login</h1>
<div class="col-sm-3">
  <form (ngSubmit)="onSignIn()">
    <div class="mb-3 mt-3">
      <label for="contactNumber" class="form-label">ContactNumber:</label>
      <input type="contactNumber" class="form-control" id="contactNumber" [(ngModel)]="credential.contactNumber"
        placeholder="Enter contactNumber" name="contactNumber">
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password:</label>
      <input type="password" class="form-control" id="pwd" [(ngModel)]="credential.password"
        placeholder="Enter password" name="pswd">
    </div>
    <div *ngIf="isCredentialInvalid">
      <h6 class="text-danger"> Invalid credentials please check again</h6>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="isLoginButtonDisabled">Login</button>
  </form>
</div>