<div class="card border shadow-none m-2">
    <div class="card-header bg-transparent border-bottom py-3 px-4">
        <h5 class="font-size-16 mb-0">Payment Details <span class="float-end"> PaymentId : 12</span></h5>
    </div>
    <div class="card-body p-4 pt-2">

        <div class="table-responsive">
            <table class="table mb-0">
                <tbody>
                    <tr>
                        <td>Date :</td>
                        <td class="text-end">15 september 2023</td>
                    </tr>
                    <tr>
                        <td>Amount : </td>
                        <td class="text-end">{{745|currency:"INR"}}</td>
                    </tr>
                    <tr>
                        <td>Status :</td>
                        <td class="text-end">Paid</td>
                    </tr>
                    <tr>
                        <td>Payment Mode : </td>
                        <td class="text-end">Online</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end table-responsive -->
    </div>
</div>

