<div class="card m-1">

    <div class="d-flex  justify-content-start  align-items-center   ">
        <div class="m-5">
            <img src="/assets/mira.webp" width="100">
        </div>
            
        <div  class="m-5">
            <h4 class="text-uppercase"><b>Mira71</b></h4>
        </div>
        <div class="d-flex justify-content-start align-items-center m-5 ">
            <p class="m-4 p-4"><b>Pesticide</b></p>
            <p class="m-4 p-4"><label><b>Price :</b></label>$200</p>
            <button class="btn m-4 " style="background-color: #55c2da;">Details </button>
        </div>
    </div>