<header>
    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
    >
      <div class="container">
        <div
          class="navbar-collapse collapse d-sm-inline-flex justify-content-start"
        >
          <ul class="navbar-nav flex">
            <li
              class="nav-item">
              <a class="nav-link text-dark"  [routerLink]="['/customer/orders']">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark"  [routerLink]="['/customer/paymentlist']">Payment History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark"  [routerLink]="['/customer/question']" ><img src="assets/Inquiry.png" alt="" width="25" height="25">Queries</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>