<div class="icon-text-container">
    <div>
        <img src="/assets/checked-data.png" alt="Authenticated products">
        <span>Authenticated Products</span>
    </div>
    <div>
        <img src="/assets/delivery.svg" alt="Free delivery">
        <span>Free Delivery</span>
    </div>
    <div>
        <img src="/assets/cash-on-delivery.png" alt="Cash on delivery">
        <span>Cash on Delivery</span>
    </div>
    <div>
        <img src="/assets/Secure-payment.png" alt="Cash on delivery">
        <span>Secure Payment</span>
    </div>
</div>
