<div class="card border shadow-none m-2">
    <div class="card-header bg-transparent border-bottom py-3 px-4">
        <h5 class="font-size-16 mb-0">Order Summary <span class="float-end">#MN0124</span></h5>
    </div>
    <div class="card-body p-4 pt-2">

        <div class="table-responsive">
            <table class="table mb-0">
                <tbody>
                    <tr>
                        <td>Sub Total :</td>
                        <td class="text-end">$ 780</td>
                    </tr>
                    <tr>
                        <td>Discount : </td>
                        <td class="text-end">- $ 78</td>
                    </tr>
                    <tr>
                        <td>Shipping Charge :</td>
                        <td class="text-end">$ 25</td>
                    </tr>
                    <!-- <tr>
                        <td>Estimated Tax : </td>
                        <td class="text-end">$ 18.20</td>
                    </tr> -->
                    <tr class="bg-light">
                        <th>Total :</th>
                        <td class="text-end">
                            <span class="fw-bold">
                                $ 745.2
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end table-responsive -->
    </div>
</div>