
    <h1>My Cart</h1>
                <table>
                    <thead>
                        <tr>
                            <th>product Title</th>
                            <th>Image</th>
                            <th>UnitPrice</th>
                            <th>Quantity</th>
                            <th>TotalAmount</th> 
                            <th>Actions</th>    
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr  *ngFor="let cart of carts">
        
                            <td>{{ cart.title }}</td>
                            <td><img [src]="cart.image" width="50" height="50"/></td>
                            <td>{{ cart.unitPrice }}</td>
                            <td>{{ cart.quantity }}</td>
                            <td>{{cart.quantity * cart.unitPrice}}</td>
                            <td>
                                <button class="button" (click)="onRemoveProduct(cart.cartItemId)" type="submit" >Remove</button> |
                                <button class="button"  (click)="onUpdateProduct(cart.cartItemId)" type="submit" >Update</button>
                            </td>
                            
                        </tr>
                        
                    </tbody>
                </table>

    <br>

    <br>
    <p>MAKE PAYMENT AND CONFIRM YOUR ORDER.</p>
    <button   class="button"  (click)="onClick()" type="submit">Check Your bill</button>
                       