<div class="container">
  <h2>My Orders</h2>

  <div class="active-filter-line"></div>
  <div class="row">
    <div class="col-md-8">
      <div class="navbar col-6">
        <a class="btn btn-outline-success" (click)="filterOrders('all')">All </a>
        <a class="btn btn-outline-success" (click)="filterOrders('pending')">
          <i class="fas fa-clock" style="color: #ffc107"></i>
          &nbsp;Pending</a>
        <a class="btn btn-outline-success" (click)="filterOrders('deliverd')">
          <i class="fas fa-check-circle" style="color: #28a745"></i>
          &nbsp; Delivered</a>
        <a class="btn btn-outline-success" (click)="filterOrders('cancelled')">&nbsp;Cancelled</a>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.date | date }}</td>
            <td>{{ order.amount | currency : "INR" }}</td>
            <td>{{ order.status }}</td>
            <td>
              <button class="btn btn-primary" (click)="viewDetails(order.id)">
                Details
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4" *ngIf="showSummery">
      <app-order-summery></app-order-summery>
    </div>
  </div>
</div>
<router-outlet></router-outlet>