<div class="container">
  <h2>My Orders</h2>

  <div class="active-filter-line"></div>
  <div class="row">
    <div class="col-md-8">
      <div class="d-flex col-6 justify-content-around">
        <a class="btn btn-outline-success" (click)="filterOrders('all')"
          [ngClass]="{'btn-success active-button': activeFilter === 'all'}">All</a>
        <a class="btn btn-outline-success" (click)="filterOrders('pending')"
          [ngClass]="{'btn-success active-button': activeFilter === 'pending'}">
          <i class="fas fa-clock" style="color: #ffc107"></i>
          &nbsp;Pending
        </a>
        <a class="btn btn-outline-success" (click)="filterOrders('delivered')"
          [ngClass]="{'btn-success active-button': activeFilter === 'delivered'}">
          <i class="fas fa-check-circle" style="color: #28a745"></i>
          &nbsp;Delivered
        </a>
        <a class="btn btn-outline-success" (click)="filterOrders('cancelled')"
          [ngClass]="{'btn-success active-button': activeFilter === 'cancelled'}">
          <i class="fas fa-cancel" style="color: #c51616"></i>
          &nbsp;Cancelled
        </a>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of filteredOrders">
            <td>{{ order.orderDate | date }}</td>
            <td>{{ order.total | currency : "INR" }}</td>
            <td>{{ order.status }}</td>
            <td>
              <a [routerLink]="['/customer/orders/details', order.id]">
                <button class="btn btn-primary">
                  Details
                </button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>