<div *ngIf="product" >
            <p>Product Id: {{ product.id }}</p>
            <p>Title: {{ product.title }}</p>
            <p>StockAvailable :{{ product.stockAvailable }}</p>
            <p>unitPrice: {{ product.unitPrice }}</p>
            <p>
              <img [src]="product.image" width="200" height="200"/>
            </p>
            <p>category Id: {{ product.categoryId }}</p>
            
             <button (click)="onClick(product.id)">addToCart</button>
             
          </div> 

        