


  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 0 25px;
  }
  
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 50px;
    }
  }
  
  /* Style the counter cards */
  .card {
    padding: 4px;
    text-align: center;
    background-color:white;
  }

  img {
    width: auto;
    max-height: 20vh;
    height: auto;
    max-width: 20vw;
  } 