
<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
  <div *ngFor="let category of categories">
<ul class="navbar-nav ">
  <li >
    <img src="{{category.imageUrl}}" alt=""  height="40%" width="40%">
    <p>{{category.title}}</p>
  </li>&nbsp;&nbsp;&nbsp;
</ul>
</div>
</nav>
</header>


<div class="w3-row" *ngFor="let product of products">
  <div class="column">
    <div class="card" (click)="onClickDetails()">
      <img src="{{product.imageUrl}}" alt="" height="60%" width="60%">
    
      <h3>{{product.title}}</h3>
      <p class="price"><b>{{product.price |currency:"INR"}}</b></p>
    </div>
    <br>
  </div>
</div>