

  .column {
    float: left;
    width: 25%;
    padding: 0 25px;
  }
  
  .card {
    padding: 4px;
    height: 30vh;
    width: 20vw;
    background-color:white;
  }

  img {
    width: auto;
    max-height: 20vh;
    height: auto;
    max-width: 20vw;
  }  

 .card h5:hover{
  transform: scale(1.1);
  color: #538eee;
}

.product-title
{
  text-align: center;
}


.select-style{
  min-width: 50px;
  padding: 2px;
}
