
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 0 25px;
  }

  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 50px;
    }
  }
  
  .card {
    padding: 4px;
    background-color:white;
  }

  img {
    width: auto;
    max-height: 20vh;
    height: auto;
    max-width: 20vw;
  }  

 .card h5:hover{
  transform: scale(1.1);
  color: #538eee;
}

.product-title
{
  text-align: center;
}


.select-style{
  border: solid 2px; 
  min-width: 50px;
}
