
<h1>update customer</h1>
<br>
<br>

<app-solution [solutionId]="solutionId" (sendSolution)="receiveSolution($event)"></app-solution>
<div  *ngIf="solution && solution.solutionId!=0">
  <!-- <div *ngIf="order"> -->
  <table>
      <tr>
          <td><label>Description</label></td>
          <td><input type="text" name="description" #description="ngModel" [(ngModel)]="solution.description"></td>
      </tr>
      <tr>
          <button (click)="updateSolution()">Update</button>
      </tr>
  </table>   
  </div>