



<h1>My Order</h1>
<h2>CustomerName:{{customerName}} </h2>
                <table>
                    <thead>
                        <tr>
                            
                            <th>product Title</th>
                            <th>UnitPrice</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let order of orderDetails">
                            <td>{{ order.title }}</td>
                            <td>{{ order.unitPrice }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.total }}</td>
                            <td>{{ order.status }}</td>
                        </tr> 
                    </tbody>
                </table>
     <br>
<button   (click)="onClick()"> Make Payment</button>
                

<!-- <div *ngFor="let order of orderDetails">             
<p><b>Title:</b> {{ order.title }}</p> 
<p><b>UnitPrice:</b> {{ order.unitPrice}}</p>
<p><b>Quantity:</b> {{ order.quantity}}</p>
<p><b>Total:</b> {{ order.total}}</p>  
<p><b>Status:</b> {{ order.status}}</p> 
<p><b>FirstName:</b> {{ order.firstName}}</p> 
<p><b>LastName:</b> {{ order.lastName}}</p>
<br>
</div>
<button   (click)="onClick()"> Make Payment</button> -->