



<h1>My Order</h1>
<h2>CustomerName:{{customerName}} </h2>
                <table>
                    <thead>
                        <tr>
                            
                            <th>product Title</th>
                            <th>UnitPrice</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let order of orderDetails">
                            <td>{{ order.title }}</td>
                            <td>{{ order.unitPrice }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.total }}</td>
                            <td>{{ order.status }}</td>
                        </tr> 
                    </tbody>
                </table>
     <br>
<button   (click)="onClick()"> Make Payment</button>
                
