
<form #cartForm="ngForm" (ngSubmit)="onUpdateProduct(cartForm.value)">
  <div>
    <br>
    <label><b>cartId :</b></label>
    <input type="number" name="quantity" [(ngModel)]="item.cartid"/>
</div>
<div>
  <br>
  <label><b>productId :</b></label>
  <input type="number" name="quantity" [(ngModel)]="item.productid"/>
</div>
<div>
  <br>
  <label><b>CartItemsId :</b></label>
  <input type="number" name="quantity" [(ngModel)]="item.cartitemid"/>
</div>
  <div>
      <br>
      <label><b>quantity :</b></label>
      <input type="number" name="quantity" [(ngModel)]="item.quantity"/>
  </div>
    <div class="form-group">
      <br>
      <button class="btn btn-default" type="submit">Submit</button>
    </div>
  </form>
  