<br>
<h1>AgriDoctor Details</h1>
<br>
<input type="number" [(ngModel)]="agridoctorId" />
<button (click)="getAgriDoctorDetails(agridoctorId)">Search</button>

<div *ngIf="agridoctor  && agridoctor.agridoctorId!=0">
  <p><label>agriDoctorId:</label>{{agridoctor.agridoctorId}}</p>
  <p><label>agriDoctorName:</label>{{agridoctor.name}}</p>
  <p><label>specialListFor:</label>{{agridoctor.specialListFor}}</p>
  <p><label>userId:</label>{{agridoctor.userId}}</p>
  <!-- <button type="submit" (click)="deleteCategory(category.categoryId)">Delete</button> -->
  <hr>
</div>