
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-container" >
    <div class="w3-panel w3-card-4">
    <p></p>
    <button class="btn btn-block"><i class="fa fa-thumbs-up"></i></button>
    </div>
    
  </div> -->

  <h5 class="card-title">Questions :</h5>

  <div class="card  mb-2" *ngFor="let question of questions">
    
    <div class="card-body">
      
     <a (click)="navigateQuestionAnswers(question.id)" > <p class="card-text" style="color: blue;text-decoration: underline; cursor: pointer;"  >{{question.description}}   <i class="fa fa-arrow-right"></i></p></a>
     <label> sahil mankar   <p  style="font-size: 12px;"> {{question.date|date}}</p></label>
    
    </div>
  </div>

  
