
<div class="row">
  <div class="col-12" >
    <div class="card mb-3" *ngFor="let item of items">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div>
              <img src="{{item.image}}" class="img-fluid rounded-3" alt="Shopping item"
                style="width: 110px; cursor: pointer; margin: 4px;"
                [routerLink]="['/catalog/productdetail',item.productId]">
            </div>

            <div class="ms-6">
              <a [routerLink]="['/catalog/productdetail',item.productId]">
                <h5>{{item.title |titlecase}}</h5>
              </a>
              <p class=" mb-2">Size :{{item.size}}</p>
              <p class="mb-2">{{item.unitPrice |currency:"INR"}}</p>
              <div class="d-flex flex-row">
                <button class="btn  btn-link   px-2" (click)="onClickDecrement(item)">
                  <i class="fas fa-minus"></i>
                </button>

                <input id="form1"  name="quantity" type="text" [value]="item.quantity" pattern="[0-9]+"
                  class="form-control form-control-sm" style="width: 40px; height: 10px;"
                  (input)="updateQuantity(item,$event)" />

                <button class="btn btn-link px-1" (click)="onClickIncrement(item)">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center">
            <h5 class="fw-normal mb-0"> {{item.unitPrice *item.quantity |currency:"INR" }}</h5>
            &nbsp;&nbsp;&nbsp;
          </div>

          <a *ngIf="items.length>1" class="d-flex flex-row align-items-center" style="color: #f62929 ;cursor: pointer;"
            (click)="openDeleteConfirmationDialog(item.productDetailsId)"> <i class="fas fa-trash-alt"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

    
