<div class="container">  
    <form id="contact" #registerForm="ngForm" (ngSubmit)="resisterUser(registerForm.value)">
      <h3> Persaonal Details :</h3>
     
      <div>
        <label >firstName : </label>
      <input type="text" name="firstName"  placeholder="Contact Number"  [(ngModel)]="user.firstName"/>
      </div>
      <br>
      <div>
        <label >lastName : </label>
      <input type="password"  name="lastName" placeholder="Password" [(ngModel)]="user.lastName" />
      </div>
      <br>
      <div>
        <label > Aadhar Id : </label>
        <input type="password" name="aadharId" placeholder="Password" [(ngModel)]="user.aadharId"/>
      </div>
      <br>
      <div>
        <label > Birth Date : </label>
        <input type="password" name="birthDate" placeholder="Password" [(ngModel)]="user.birthDate"/>
      </div>
       <br>
      <div>
        <label > Gender : </label>
        <input type="password" name="gender" placeholder="Password" [(ngModel)]="user.gender"/>
      </div>
      <br>
      <div>
        <label > Email : </label>
        <input type="password" name="email" placeholder="Password" [(ngModel)]="user.email"/>
      </div>
      <br>
      <div>
        <label > contactNumber : </label>
        <input type="password" name="contactNumber" placeholder="Password" [(ngModel)]="user.contactNumber"/>
      </div>
      <div>
        <button type="submit">Register</button>
      </div>
    </form>
  </div>


