@using SessionMvc.Models;
@{
    ViewData["Title"] = "session Policy";
}
<h1>@ViewData["Title"]</h1>
<p>Use this page to show Session data.</p>
<p>Product = @ViewBag.data</p>
<p>Age = @ViewBag.age</p>

<hr/>


