#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }




  #myForm form {
    background-color: #E0E0E0;
    text-align: center;
  }
  #myForm label {
    display: inline-block;
    text-align: right;
    clear: left;
    width: 150px;
    text-align: right; 
  }
  #myForm input {
    display: inline-block;
    text-align: center;
  }
  #myForm select {
    display: inline-block;
    text-align: center;
  }