<p>billing works!</p>




<form #billingForm="ngForm" (ngSubmit)="addToCart(billingForm.value)">

    <div class="form-group">
      <label hidden><b>cust Id:</b></label>
      <input type="number" name="custId" [(ngModel)]="custId" type="hidden"/>
   </div>
   <div class="form-group">
      <br> 
      <label hidden><b>product Id :</b></label>
      <input type="number" name="productId" [(ngModel)]="productId" type="hidden"/>
    </div>
    <div class="form-group">
        <br> 
        <label hidden><b>Quantity :</b></label>
        <input type="number" name="quantity" [(ngModel)]="quantity" type="hidden"/>
      </div>
    <div class="form-group">
        <br> 
        <label hidden><b>Billing date :</b></label>
        <input type="text" name="billDate" [(ngModel)]="billDate" type="hidden" />
      </div>
    <div class="form-group">
      <br> 
      <label ><b>product Title :</b>{{title}}</label>
    </div>
    <div class="form-group">
      <br> 
      <label ><b>Image:</b></label>
      <img [src]="image" width="200" height="200"/>
    </div>
    
    <br>
    <div class="form-group">
      <label><b>UnitPrice :{{unitPrice}}</b></label>
      <br>
      <label><b>quantity :</b></label>
      <input type="number" name="quantity" [(ngModel)]="quantity"/>
     </div>
    <div>
      <br>
      <label><b>TotalAmount :{{total}}</b></label>   
    </div>
    <div class="form-group">
      <br>
      <button class="btn btn-default" type="submit">Make Payment</button>
    </div>
  </form>
  