<!-- <div class="container"> -->

    <div class="row">
        <div class="col-1"></div>
        <div class="col-md-4 col-xl-2">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h5 class="m-b-20">Picked Orders</h5>
                    <h2 class="text-right "><i class="fas fa-shopping-cart f-left"></i><span class="f-right">{{orderCount.picked}}</span></h2>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-2">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h5 class="m-b-20">Unpicked Orders</h5>
                    <h2 class="text-right"><i class="fa fa-shopping-cart f-left"></i><span class="f-right">{{orderCount.readyToDispatch}}</span></h2>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-2">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h5 class="m-b-20"> Process Orders </h5>
                    <h2 class="text-right"><i class="fa fa-shopping-cart f-left"></i><span class="f-right">{{orderCount.inProgress}}</span></h2>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-2">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h5 class="m-b-20">Delivered Orders</h5>
                    <h2 class="text-right"><i class="fa fa-shopping-cart f-left"></i><span class="f-right">{{orderCount.delivered}}</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-2">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h5 class="m-b-20">Cancelled Orders</h5>
                    <h2 class="text-right"><i class="fa fa-shopping-cart f-left"></i><span class="f-right">{{orderCount.cancelled}}</span></h2>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
  </div>
  <!-- </div> -->
