<div *ngIf="product" >
            <p>Product Id: {{ product.id }}</p>
            <p>Title: {{ product.title }}</p>
            <p>StockAvailable :{{ product.stockAvailable }}</p>
            <p>unitPrice: {{ product.unitPrice }}</p>
            <p>image :{{ product.image}}</p>
            <p>category Id: {{ product.categoryId }}</p>
            <button type="button" (click)="addToCart(product.id,product.cartId,product.quantity)" class="btn btn-link btn-sm btn-rounded">
            AddToCart
            </button> 
            
          </div>