<div>    
    <form>
        <div>
            <label for="payment">select Payment Option:</label>

        
            <div>
              <input type="radio" value="cash payment" name="payment">
              <label for="cash payment">Cash Payment</label>
              <br>
              <input  type="radio" value="Debit Card" name="payment" >
              <label for="Debit Card">Debit Card</label>
              <br>
              <input  type="radio" value="Credit Card" name="payment" >
              <label for="Credit Card">Credit Card</label>
              <br>
              <input  type="radio" value="Mobile Payment" name="payment" >
              <label for="Mobile Payment">Mobile Payment</label>
              <br>
            </div>
           </div>
              
    
        </form>
    </div>