<div>    
    <form>
        <div>
            <label for="payment">select Payment Option:</label>
            <div>
              <input id="cash payment" type="radio" value="cash payment" name="payment" (change)="changePayment($event)">
              <label for="cash payment">Cash Payment</label>
              <br>
              <input  id="cash payment" type="radio" value="debit card" name="payment" (change)="changePayment($event)">
              <label for="debit card">Debit Card</label>
              <br>
              <input id="cash payment"  type="radio" value="credit card" name="payment" (change)="changePayment($event)">
              <label for="credit card">Credit Card</label>
              <br>
              <input id="cash payment" type="radio" value="mobile payment" name="payment" (change)="changePayment($event)">
              <label for="mobile payment">Mobile Payment</label>
              <br>
            </div> 
           </div>
        </form>
      </div>