<div>    
    <form>
        <div>
            <label for="payment">select Payment Option:</label>
            <div>
              <input id="cash payment" type="radio" value="cash payment" name="payment" (change)="changePayment($event)">
              <label for="cash payment">Cash Payment</label>
              <br>
              <input  id="cash payment" type="radio" value="debit card" name="payment" (change)="changePayment($event)">
              <label for="debit card">Debit Card</label>
              <br>
              <input id="cash payment"  type="radio" value="credit card" name="payment" (change)="changePayment($event)">
              <label for="credit card">Credit Card</label>
              <br>
              <input id="cash payment" type="radio" value="mobile payment" name="payment" (change)="changePayment($event)">
              <label for="mobile payment">Mobile Payment</label>
              <br>
            </div>
            <div *ngIf="f.payment.touched && f.payment.invalid" class="alert alert-danger">
            </div> 
        
            <!-- <button c type="submit" [disabled]="!form.valid">Submit</button> -->
        
            <!-- <div>
                <ul id="list" name="list">
                    <li *ngFor="let name of  names"> {{name}}</li>
                </ul>
            </div> -->
           </div>
        </form>
    </div>
    

    <div *ngIf="byCreditCard">
    <form #cardForm="ngForm" (ngSubmit)="addCreditCard(cardForm.value)">
    <div class="form-group">
      <br> 
      <label ><b>Id :</b></label>
      <input type="number" name="id" [(ngModel)]="creditCard.id" />
    </div>
    <div class="form-group">
      <br> 
      <label ><b>AccountId:</b></label>
      <input type="number" name="accountId" [(ngModel)]="creditCard.accountId" />
    </div>
    <div class="form-group">
      <br> 
      <label ><b>Card Number:</b></label>
      <input type="text" name="cardNumber" [(ngModel)]="creditCard.cardNumber" />
    </div>
    <div class="form-group">
      <br> 
      <label ><b>pin number :</b></label>
      <input type="number" name="pinNumber" [(ngModel)]="creditCard.pinNumber" />
    </div>
    <div class="form-group">
      <br> 
      <label ><b>cvv:</b></label>
      <input type="number" name="cvv" [(ngModel)]="creditCard.cvv" />
    </div>
    <div class="form-group">
      <br> 
      <label ><b>expiry date :</b></label>
      <input type="text" name="expiryDate" [(ngModel)]="creditCard.expiryDate" />
    </div>
    <div class="form-group">
      <br> 
      <label ><b>credit limit:</b></label>
      <input type="number" name="creditLimit" [(ngModel)]="creditCard.creditLimit" />
    </div>
    <div class="form-group">
      <br> 
      <label ><b>balance:</b></label>
      <input type="number" name="balance" [(ngModel)]="creditCard.balance" />
    </div>

  <button  type="submit" >Submit</button> 


  <div *ngIf="byDebitCard">
    <!-- <form #cardForm="ngForm" (ngSubmit)="addCard(cardForm.value)">  -->
    <div class="form-group">
      <br> 
      <label ><b>Id :</b></label>
      <input type="number" name="id" [(ngModel)]="debitCard.id" />
    </div>
    <div class="form-group">
      <br> 
      <label ><b>AccountId:</b></label>
      <input type="number" name="accountId" [(ngModel)]="debitCard.accountId" />
    </div>
    <div class="form-group">
      <br> 
      <label ><b>Card Number:</b></label>
      <input type="text" name="cardNumber" [(ngModel)]="debitCard.cardNumber" />
    </div>
    <div class="form-group">
      <br> 
      <label ><b>pin number :</b></label>
      <input type="number" name="pinNumber" [(ngModel)]="debitCard.pinNumber" />
    </div>
    <div class="form-group">
      <br> 
      <label ><b>cvv:</b></label>
      <input type="number" name="cvv" [(ngModel)]="debitCard.cvv" />
    </div>
    <div class="form-group">
      <br> 
      <label ><b>expiry date :</b></label>
      <input type="text" name="expiryDate" [(ngModel)]="debitCard.expiryDate" />
    </div>
    <div class="form-group">
      <br> 
      <label ><b>customer Id:</b></label>
      <input type="number" name="customerId" [(ngModel)]="debitCard.customerId" />
    </div>
   <div> 
    <button  type="submit" >Submit</button>