<div class="row justify-content-center align-items-center  ">
    <div *ngIf="!istokenReceived" class="col-6">
        <app-login-component (validSignIn)="onReceiveToken($event)"></app-login-component>
    </div>
    <div *ngIf="istokenReceived" class="col-4 ">
        <div class="card border-0 shadow rounded-3 ">
            <div class="card-body p-4  ">
                <div class=" d-grid" *ngFor="let role of roles">
                    <button class="btn btn-success fw-bold">
                        <a style=" display: block;" (click)="navigateByRole(role)">
                            Login As
                            {{role}} </a>
                    </button>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>