<h4 class="m-4">My Cart</h4>
<div *ngIf="items.length < 1;else placeOrderTemplate" class="alert alert-warning mt-3">
  <strong>Cart is empty!</strong> Your shopping cart is currently empty.
</div>

<div class="row">
  <div class="col-7">
    <app-cart-items [items]="items" (SummeryData)="onReceiveData($event)"></app-cart-items>
  </div>  

  <div class="col-3 " style="margin-left: 3rem;" *ngIf="items.length>0">
    <app-cart-summary [total]="total" [totalItems]="totalItems" [discount]="discount"
      [subTotal]="subTotal"></app-cart-summary>
  </div>


</div>

<ng-template #placeOrderTemplate>
  <div class="fixed-button-container">
    <button class="custom-button" (click)="onClickPlaceOrder()">Place Order</button>
  </div>
</ng-template>