
  <div class="container"  *ngIf="onFormSubmit()">
	<div class="screen">
		<div class="screen__content">
			<form class="login" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="ContactNumber" name="contactnumber" [(ngModel)]="credential.contactNumber">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password" name="password" [(ngModel)]="credential.password">
				</div>
				<button class="button login__submit">
					<span class="button__text"  type="submit" >Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div> 
<div class="d-grid" *ngFor="let role of roles">

	<button class="btn btn-success fw-bold">

	  <a style="color: inherit; text-decoration:none;display: block;" (click)="navigateByRole(role)"> Login As

		{{role}} </a>

	</button>

	<br>

  </div>




