




  <form #questionForm="ngForm" (ngSubmit)="insertQuestion(questionForm.value)">
    <label for="category">Category:</label>
    <select id="category" [(ngModel)]="selectedcategory" name="category">
      <option *ngFor="let category of categories" [value]="category.id">{{ category.category }}</option>
    </select>
  
    <div class="form-group">
      <label><b>Enter Your Question :</b></label>
      <input type="text" name="description" [(ngModel)]="question.description"  />
   </div>
   <div class="form-group">
      <br> 
      <label hidden><b>category Id :</b></label>
      <input type="number" name="categoryId" [(ngModel)]="categoryId" type="hidden"/>
    </div>
    <div class="form-group">
        <br>
        <button class="btn btn-default" type="submit">AddNewQuestion</button>
      </div>
  </form>
