
<div *ngFor="let cart of carts">
    <br>
    <label><b>product Title:</b>{{cart.title}}<br></label>
    <label><b>Image:</b>{{cart.image}}<br></label>
    <label><b>UnitPrice:</b>{{cart.unitPrice}}<br></label>
    <label><b>Quantity:</b>{{cart.quantity}}<br></label>
    <label><b>ProductId:</b>{{cart.productId}}<br></label>
    <label><b>TotalAmount :{{cart.quantity * cart.unitPrice}}</b></label>    
    <div class="form-group">
        <br>
        <button class="btn btn-default" (click)="onRemoveProduct(cart.productId)" type="submit">Remove</button>
      </div> 
      <div class="form-group">
        <br>
        <button class="btn btn-default" (click)="onUpdateProduct(cart.productId)" type="submit">Update</button>
      </div>    
    <br>
</div>



           