
    <h1>My Cart</h1>
                <table>
                    <thead>
                        <tr>
                            <th>product Title</th>
                            <th>Image</th>
                            <th>UnitPrice</th>
                            <th>Quantity</th>
                            <th>TotalAmount</th>     
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let cart of carts">
                            <td>{{ cart.title }}</td>
                            <td>{{ cart.image }}</td>
                            <td>{{ cart.unitPrice }}</td>
                            <td>{{ cart.quantity }}</td>
                            <td>{{cart.quantity * cart.unitPrice}}</td>
                            <td>
                                <button class="btn btn-default" (click)="onRemoveProduct(cart.productId)" type="submit">Remove</button>
                            </td>
                            <td>
                                <button class="bgittn btn-default" (click)="onUpdateProduct(cart.cartItemId)" type="submit">Update</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

    <br>
    <p><b>TotalAmount:</b>{{Total()}}</p>

    <br>
    <button   class="btn btn-default" (click)="onClick()" type="submit">Order</button>
                       