
<h1>Orderlist</h1>

<div>
    <label><b>FromDate</b></label>
    <input type="date" name="orderDate" [(ngModel)]="fromDate"/>
    <br>
    <label><b>ToDate</b></label>
    <input type="date" name="orderDate" [(ngModel)]="toDate"/>
    <button (click)="onSubmit()"> Search</button>
</div>

<table>
    <tr>
        <th>OrderDate</th><br>
        <th>ShippedDate</th><br>
        <th>Customer Id</th><br>
        <th>Total</th><br>
        <th>Status</th>
    </tr>
        <tr *ngFor="let order of orders">
        <td>{{ order.orderDate }} </td><br>
        <td>{{ order.shippedDate}} </td><br>
        <td>{{ order.customerId }}</td><br>
        <td>{{order.total}}</td><br>
        <td>{{order.status}}</td>
    </tr>
</table>

