<br>
<br>
<input type="number" [(ngModel)]="productId" />
<button (click)="getProduct(productId)">Search</button>

<div *ngIf="product && product.productId !=0">
  <p><label>ProductId:</label>{{product.productId}}</p>
  <p><label>Product Title:</label>{{product.productTitle}}</p>
  <p><label>unitPrice:</label>{{product.unitPrice}}</p>
  <p><label>stockavailable:</label>{{product.stockAvailable}}</p>
  <p><label>image:</label>{{product.image}}</p>
  <p><label>categoryId:</label>{{product.categoryId}}</p>
  <hr>
  <div *ngIf=" product && product.productId==0 ">
    <p>product not Found</p>
  </div>
</div>

<!-- <input type="text" [(ngModel)]="orderId"/>
<button (click) ="getById(orderId)">Details</button>  
<app-getorder [orderId] = "orderId" (sendOrder)="receiveOrder($event)" hidden></app-getorder>

<div *ngIf="order && order.orderId !=0">
<p><label>OrderId:</label>{{order.orderId}}</p>
<p><label>OrderDate:</label>{{order.orderDate}}</p>
<p><label>ShippedDate:</label>{{order.shippedDate}}</p>
<p><label>CustomerId:</label>{{order.customerId}}</p>
<p><label>Total:</label>{{order.total}}</p>
<p><label>Status:</label>{{order.status}}</p>
<button type="submit" (click)="delete(order.orderId)">Delete</button> 
<button type="submit" (click)="onUpdateClick(order.orderId)">Update</button>
<div *ngIf=" order && order.orderId==0 ">
    <p>order not Found</p>
</div>
</div> -->