<p>addtocart works!</p>



<form #cartForm="ngForm" (ngSubmit)="addtocart(cartForm.value)">

    <div class="mb-3">
      <label><b>cart id :</b></label>
      <input type="text" name="title" [(ngModel)]="items.cartid"/>
      <br>
      <label><b>product id :</b></label>
      <input type="number" name="unitPrice" [(ngModel)]="items.id"/>
      <br>
      <label><b>quantity :</b></label>
      <input type="number" name="stockAvailable" [(ngModel)]="items.quantity"/>
      <br>
      <button class="btn btn-success " type="submit">AddToCart</button>
    </div>
  </form>
  