<p>addtocart works!</p>



<form #cartForm="ngForm" (ngSubmit)="addToCart(cartForm.value)">

    <div class="mb-3">
      <label><b>cart id :</b></label>
      <input type="number" name="cartId" [(ngModel)]="item.cartId"/>
      <br> 
      <label><b>product id :</b></label>
      <input type="number" name="productId" [(ngModel)]="item.productId"/>
      <br>
      <label><b>quantity :</b></label>
      <input type="number" name="quantity" [(ngModel)]="item.quantity"/>
      <br>
      <button class="btn btn-success " type="submit">AddToCart</button>
    </div>
  </form>
  