<h2>CustomerName:{{CustomerName}} </h2>
                <table>
                    <thead>
                        <tr>                         
                            <th>product Title</th>
                            <th>UnitPrice</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let order of orderDetails">
                            <td>{{ order.title }}</td>
                            <td>{{ order.unitPrice }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.total }}</td>
                            <td>{{ order.status }}</td>
                        </tr> 
                    </tbody>
                </table>

      <button class="button" type="submit">Make Payment</button>
      



<!-- <form #billingForm="ngForm" (ngSubmit)="addBill(billingForm.value)">

    <div class="form-group">
      <label><b>cust Id:</b></label>
      <input type="number" name="custId" [(ngModel)]="custId"/>
   </div>
   <div class="form-group">
      <br> 
      <label ><b>product Id :</b></label>
      <input type="number" name="productId" [(ngModel)]="productId" />
    </div>
    <div class="form-group">
        <br> 
        <label ><b>Quantity :</b></label>
        <input type="number" name="quantity" [(ngModel)]="quantity" />
      </div>
    <div class="form-group">
        <br> 
        <label><b>Billing date :</b></label>
        <input type="datetime" name="billDate" [(ngModel)]="bill.billDate"/>
    </div>
    <br>
    <div class="form-group">
      <label><b>UnitPrice :{{unitPrice}}</b></label>
     </div>
   
    <div class="form-group">
      <br>
      <button class="btn btn-default" type="submit">Make Payment</button>
    </div>
  </form>
   -->