.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 0px 0px;
    cursor: pointer;
  }

  .about-section {
    padding:  100px 500px;
    text-align: center;
  }