
                <table   class="about-section">
                    <thead>
                      <th>Customer Name:{{CustomerName}} </th>
                        <tr>                         
                            <th>product Title</th>
                            <th>UnitPrice</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let order of orderDetails">
                            <td>{{ order.title }}</td>
                            <td>{{ order.unitPrice }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.total }}</td>
                            <td>{{ order.status }}</td>
                        </tr> 
                    </tbody>
                    <b>Total Amount : {{total}}</b>
                    <br>
                    <button type="button" class="button" >Make Payment</button>
         
                </table>
          
  



 <!-- <form #billingForm="ngForm" (ngSubmit)="addBill(billingForm.value)"    *ngFor="let order of orderDetails">

    <div class="form-group">
      <label><b>cust Id:</b></label>
      <input type="number" name="custId" [(ngModel)]="order.custId"/>
   </div>
   <div class="form-group">
      <br> 
      <label ><b>product Id :</b></label>
      <input type="number" name="productId" [(ngModel)]="order.productId" />
    </div>
    <div class="form-group">
        <br> 
        <label ><b>Quantity :</b></label>
        <input type="number" name="quantity" [(ngModel)]="order.quantity" />
      </div>
    <div class="form-group">
        <br> 
        <label><b>Billing date :</b></label>
        <input type="datetime" name="billDate" [(ngModel)]="order.billDate"/>
    </div>
    <br>
   
    <div class="form-group">
      <br>
      <button class="btn btn-default" type="submit">Make Payment</button>
    </div>
  </form>
   -->