<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']"><b>EKrushi Seva</b></a>
      <button class="navbar-toggler" type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
        <app-searchbar></app-searchbar></div>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link text-dark"  [routerLink]="['/customer/question']" ><img src="assets/Inquiry.png" alt="" width="25" height="25">Queries</a>
          </li>
          <li class="nav-item" style="text-align: center; font-size: 12px; position: relative;" *ngIf="isLoggedIn()">
            <div class="nav-link text-dark" (mouseenter)="showLinks = true" (mouseleave)="showLinks = false">
              Welcome, <p>{{name}}</p>
              <ul class="card" style="position: absolute; top: 100%; left: 0; z-index: 1000; background-color: #fff; border: 1px solid #ccc;" *ngIf="showLinks">
                <li class="nav-item">
                  <a class="nav-link text-dark" [routerLink]="['/customer/orders']">Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" [routerLink]="['/customer/paymentlist']">Payment History</a>
                </li>
              </ul>
              
            </div>
          </li>
          
          
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class ="nav-link text-dark"  > <i class="fa-solid fa-cart-shopping"   [routerLink]="['customer/shoppingcart']"></i></a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link text-dark" (click)="logOut()">LogOut</a>
        </li>
          <li class="nav-item" *ngIf="!isLoggedIn()">
            <a class="nav-link text-dark"  [routerLink]="['/login']">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


