a.navbar-brand {
  white-space: normal;
  word-break: break-all;
}

html {
  font-size: 14px;
}
 li a{
  cursor: pointer;
 }
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}


ul.card {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px; 
  padding: 8px; 
}

ul.card li.nav-item {
  list-style: none; 
  margin: 4px 0; 
}

ul.card li.nav-item a.nav-link {
  display: block;
  padding: 6px 12px; 
  text-decoration: none;
  color: #333; 
  transition: background-color 0.3s, color 0.3s; 
}


ul.card li.nav-item a.nav-link:hover {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
  color: #fff; 
}
