<header >
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
    <div class="w-100 d-flex mx-4">
      <a class="navbar-brand" *ngIf="isUserHaveRequiredRole(Role.Customer) || !isLoggedIn()" [routerLink]="['/home']"><b>EKrushi Seva</b></a>
      <a class="navbar-brand " *ngIf="isUserHaveRequiredRole(Role.ShopOwner) && isLoggedIn() " [routerLink]="['/shop/dashboard']"><b>EKrushi Seva</b></a>
      <a class="navbar-brand " *ngIf="isUserHaveRequiredRole(Role.Shipper) && isLoggedIn()" [routerLink]="['/shipper/dashboard']"><b>EKrushi Seva</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div *ngIf="isUserHaveRequiredRole(Role.Customer)">
        <app-searchbar></app-searchbar>
      </div>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a  *ngIf="isUserHaveRequiredRole(Role.ShopOwner) && isLoggedIn()" class="nav-link text-dark "[routerLink]="['/shop/dashoard']"><b>{{storeName}}</b></a>
          </li>
        </ul>
      </div>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/customer/question']"><img src="assets/Inquiry.png" alt=""
                width="25" height="25">Queries</a>
          </li>
          <li class="nav-item" style="text-align: center; font-size: 12px; position: relative;" *ngIf="isLoggedIn()">
            <div class="nav-link text-dark" (mouseenter)="showLinks = true" (mouseleave)="showLinks = false">
              Welcome, <p>{{name}}</p>
              
              <ul *ngIf="isUserHaveRequiredRole(Role.Customer) && showLinks" class="card">
                <li class="nav-item">
                  <a class="nav-link text-dark" [routerLink]="['/customer/orders']">Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" [routerLink]="['/customer/paymentlist']">Payment History</a>
                </li>
              </ul>

              <ul *ngIf="isUserHaveRequiredRole(Role.ShopOwner) && showLinks" class="card">
                <li class="nav-item">
                  <a class="nav-link text-dark" [routerLink]="['/user/profile']">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" [routerLink]="['/shop/dashboard']">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" [routerLink]="['/shop/orders']">Orders</a>
                </li>
              </ul>

              <ul *ngIf="isUserHaveRequiredRole(Role.Shipper) && showLinks" class="card" >
              <li class="nav-item">
                <a class="nav-link text-dark" [routerLink]="['/shipper/dashboard']">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" [routerLink]="['/shipper/orders']">Orders</a>
              </li>
            </ul>
            </div>
          </li>


          <li class="nav-item" *ngIf="isLoggedIn() && isUserHaveRequiredRole(Role.Customer)">
            <a class="nav-link text-dark"> <i class="fa-solid fa-cart-shopping"
                [routerLink]="['customer/shoppingcart']"></i></a>
          </li>
          <li class="nav-item " *ngIf="isLoggedIn()">
            <a class="nav-link text-dark" (click)="logOut()">LogOut</a>
          </li>
          <li class="nav-item " *ngIf="!isLoggedIn()">
            <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>