<h4 class="m-4">My Cart</h4>
<div class="row">
  <div class="col-lg-7" style="max-height:450px;overflow: auto;">
    <div class="card mb-3" *ngFor="let item of items">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div>
              <img src="{{item.image}}" class="img-fluid rounded-3" alt="Shopping item"
                style="width: 110px; cursor: pointer; margin: 4px;" [routerLink]="['/catalog/productdetail',item.productId]">
            </div>

            <div class="ms-6">
              <a [routerLink]="['/catalog/productdetail',item.productId]">
                <h5>{{item.title}}</h5>
              </a>
              <p class="small mb-2"><b>Size :{{item.size}}</b></p>
              <p class="small mb-2"><b>{{item.unitPrice |currency:"INR"}}</b></p>
              <div class="d-flex flex-row">
                <button class="btn  btn-link   px-2" (click)="onClickDecrement(item)">
                  <i class="fas fa-minus"></i>
                </button>

                <input id="form1" min=1 max=10 name="quantity" type="text" [value]="item.quantity" pattern="[0-9]+"
                  class="form-control form-control-sm" style="width: 40px; height: 10px;"
                  (input)="updateQuantity(item,$event)" />

                <button class="btn btn-link px-1" (click)="onClickIncrement(item)">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center">
            <h5 class="fw-normal mb-0">{{item.unitPrice *item.quantity |currency:"INR" }}</h5>
            &nbsp;&nbsp;&nbsp;
          </div>

          <a class="d-flex flex-row align-items-center" style="color: #f62929 ;cursor: pointer;" (click)="openDeleteConfirmationDialog(item.cartItemId)"
          > <i class="fas fa-trash-alt"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card border shadow-none m-2">
      <div class="card-header bg-transparent border-bottom py-3 px-4">
        <h5 class="font-size-16 mb-0">PRICE DETAILS <span class="float-end">OrderId :15</span></h5>
      </div>
      <div class="card-body p-4 pt-2">

        <div class="table-responsive">
          <table class="table mb-0">
            <tbody>
              <tr>
                <td>Items</td>
                <td class="text-end"> {{7}}</td>
              </tr>
              <tr>
                <td>Sub Total :</td>
                <td class="text-end"> {{780|currency:"INR"}}</td>
              </tr>
              <tr>
                <td>Discount : </td>
                <td class="text-end">{{78|currency:"INR"}}</td>
              </tr>
              <tr>
                <td>Shipping Charge :</td>
                <td class="text-end">{{25|currency:"INR"}}</td>
              </tr>

              <tr class="bg-light">
                <th>Total :</th>
                <td class="text-end">
                  <span class="fw-bold">
                    {{745.2|currency:"INR"}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end table-responsive -->
      </div>
    </div>
  </div>


</div>

<div class="fixed-button-container">
  <button class="custom-button">Place Order</button>
</div>


<!-- 
 <div class="row">
  <div class="col-md-8 mb-4">
    <div class="card mb-4">
      <div class="card-header py-3">
        <h5 class="mb-0">Address details</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form7Example1" class="form-control" placeholder="Name" />
              </div>
            </div>
            <div class="col">
              <div class="form-outline ">
                <input type="text" id="form7Example6" class="form-control" placeholder="10 digit mobile number" pattern="[0-9]+"/>
              </div>
            </div>
          </div>

        
          <div class="form-outline mb-4">
            <input type="text" id="form7Example3" class="form-control" />
            <label class="form-label" for="form7Example3">Company name</label>
          </div>


          <div class="form-outline mb-4">
            <input type="text" id="form7Example4" class="form-control" />
            <label class="form-label" for="form7Example4">Address</label>
          </div>

  
          <div class="form-outline mb-4">
            <input type="email" id="form7Example5" class="form-control" />
            <label class="form-label" for="form7Example5">Email</label>
          </div>

        


          <div class="form-outline mb-4">
            <textarea class="form-control" id="form7Example7" rows="4"></textarea>
            <label class="form-label" for="form7Example7">Additional information</label>
          </div>

          <div class="form-check d-flex justify-content-center mb-2">
            <input class="form-check-input me-2" type="checkbox" value="" id="form7Example8" checked />
            <label class="form-check-label" for="form7Example8">
              Create an account?
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card mb-4">
      <div class="card-header py-3">
        <h5 class="mb-0">Summary</h5>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
            Products
            <span>$53.98</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center px-0">
            Shipping
            <span>Gratis</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
            <div>
              <strong>Total amount</strong>
              <strong>
                <p class="mb-0">(including VAT)</p>
              </strong>
            </div>
            <span><strong>$53.98</strong></span>
          </li>
        </ul>

        <button type="button" class="btn btn-primary btn-lg btn-block">
          Make purchase
        </button>
      </div>
    </div>
  </div>
</div> -->