<nav class="navbar">
  
<div class="about-section">
    <ul class="nav-links">
<li><a routerLink="home">Home</a> </li>
<li><a *ngIf="isLoggedIn()" routerLink="register">Register</a> </li>
<li><a  *ngIf="isLoggedIn()" routerLink="login">Login</a></li> 
<li><a *ngIf="isrolecustomer()" routerLink="store">Category</a> </li>
<li><a *ngIf="isrolecustomer()" routerLink="orderhistory">OrderHistory</a></li>
<li><a *ngIf="isrolecustomer()" routerLink="mycart">MyCart</a> </li>
<li><a *ngIf="isrolecustomer()" routerLink="questioncategory">Consulting</a></li>
<li><a *ngIf="isrolecustomer()" routerLink="myQuestion">MyQuestions</a></li>
<li><a *ngIf="isroleSME()" routerLink="myQuestion">myquestion</a> </li>
<li><a *ngIf="isUser()" (click)="openUserProfile()">Profile</a></li>
 <li><a *ngIf="isUser()" (click)="loggedOut()">Logout</a></li> 

</ul>
<router-outlet></router-outlet>
</div>

</nav>

