<nav class="navbar">
    <ul class="nav-links">
<div class="about-section">
<li>
<a routerLink="register">Register</a> 
<a routerLink="login">Login</a> 
<a routerLink="home">Home</a> 
<a *ngIf="isrolecustomer()" routerLink="store">Store</a> 
<a *ngIf="isrolecustomer()" routerLink="orderhistory">OrderHistory</a>
<a *ngIf="isrolecustomer()" routerLink="profile">Profile</a> 
<a *ngIf="isrolecustomer()" routerLink="mycart">MyCart</a> 
<a *ngIf="isrolecustomer()" routerLink="questioncategory">Consulting</a>
<a *ngIf="isrolecustomer()" routerLink="myQuestion">MyQuestions</a> 
</li>
<router-outlet></router-outlet>
</div>
</ul>
</nav>

